"""
ASGI config for {{project_name}} project.

It exposes the ASGI callable as a module-level variable named ``application``.
"""

import os

from fasttower.utils import setup

os.environ.setdefault("FASTTOWER_SETTINGS_MODULE", "{{project_name}}.settings")
setup()

from fasttower.server import FastTower

from {{project_name}}.routers import router

app = FastTower(title="FastTower API Documentation")

app.include_router(router)
